<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.3.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel" version="7.0.0" targetFramework="net40" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="1.0.5" targetFramework="net40" />
  <package id="Microsoft.Owin" version="4.1.1" targetFramework="net40" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="2.1.0" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Owin" version="1.0" targetFramework="net40" />
</packages>